* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

:root {
  --color-primary: #758693;
  --color-secondary: #405d72;
  --color-text: #fff8f3;
  --color-tertiary: #f7e7dc;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100dvw;
  background-color: black;
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}
